<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Label</key>
    <string>{{server-name}}</string>
    <key>RunAtLoad</key><true/>
    <key>KeepAlive</key><false/>
    <key>ProgramArguments</key>
    <array>
        <string>{{python}}</string>
        <string>{{entry-point}}</string>
        <string>-p</string><string>{{port-setting}}</string>
        {{auth}}
	<string>--logFile</string><string>/tmp/{{server-name}}.log</string>
    </array>
    <key>WorkingDirectory</key><string>{{path-to-DDDProxy}}</string>
	<key>StandardErrorPath</key><string>/tmp/{{server-name}}.err.log</string>
	<key>StandardOutPath</key><string>/tmp/{{server-name}}.out.log</string>
  </dict>
</plist>
