body {
	font-size: 12px;
	font-family: monospace;
}
body a{
	color: #22a;
	text-decoration: none;
}
body a:HOVER{
	text-decoration: underline;
}
body a.helplink{
	margin: 0 2px;
	color: #5aa;
}
.info_block {
	display: inline-block;
	vertical-align: top;
}

.part {
	color: #333;
	margin-top: 20px;
	line-height: 20px;
	font-size: 13px;
}

.help .part{
	margin: 1em 0;
	display: inline-block;
}

a.pacAddr {
	font-weight: bold;
	color: #000;
}

#serverList {
	width: 100%;
}

button {
	padding: 0 20px;
}

div.domainLine {
	margin: 5px 0;
}

.domainLine input {
	margin: 0 5px 0 0;
}

.domainLine [name="port"] {
	width: 40px;
}
#replaceRestore,#restore,#backup{
	color:#aaa;
}
#sync{
	font-weight: bolder;
}
#connectList .client{
	overflow: hidden;
	margin:0 1em;
}
#connectList .clientAddr{
	background: #aaa;
	color: #fff;
	margin-top: 1em;
	padding:0 1em; 
}
#connectList span{
	font-size: 12px;
	line-height: 16px;
	display: inline-block;
	height: 16px;
}
#connectList div.connect{
	display: inline-block;
 	width: 2000px;
}
#connectList .connectInfo{
}
#connectList .send,#connectList .recv{
	width: 60px;
}
#mainContent{
	width: 80%;
	max-width: 1024px;
	min-width: 240px;
	margin: 0 auto;
}
@media screen and (max-width:600px) {
	#mainContent{
		width: 95%;
	}
}



<!--

.line {
	display: inline-block;
	position: relative;
	background: #00a0ff;
	margin: 10px 20px 0 0;
	padding: 1px;
}

.line[status="open"] {
	background: #aaa;
}

.line .content {
	height: 14px;
}

.line .optbox {
	display: inline-block;
	padding-top: 24px;
	height: 0px;
	width: 20px;
	overflow: hidden;
	position: absolute;
	top: -5px;
	right: -20px;
	z-index: 0;
	text-align: left;
}

[status="open"] .optbox,.line .optbox:HOVER {
	height: 24px;
	padding-top: 0px;
}

.optbox a {
	height: 12px;
	text-decoration: none;
	display: block;
	color: #888;
}

.optbox a.close {
	
}

.optbox a:HOVER {
	color: #f00;
}

.button,.domain,.times {
	display: inline-block;
	margin-left: 5px;
}

.times {
	color: #fff;
	padding-right: 3px;
	font-size: 12px;
	text-align: right;
}

.times p {
	padding: 0 2px;
	margin: 0px;
	display: inline-block;
}

.domain {
	font-size: 12px;
	line-height: 14px;
	text-align: left;
	padding: 0 5px;
	background: #fff;
}

.domain_link {
	color: #111;
	text-decoration: none;
}

.domain_link:HOVER {
	text-decoration: underline;
}

.reusetDomainList {
	display: inline-block;
	margin: 5px 5px 0 0;
	color: #fff;
	padding: 1px;
	background: #ccc;
	cursor: pointer;
}

.reusetTimes {
	display: inline-block;
	padding: 0px 5px;
}

.reusetDomainList a {
	display: inline-block;
	padding: 0px 5px;
	color: #000;
	background: #fff;
}

-->