<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>DDDProxy</title>
<script src="/static/main.js"></script>
<style type="text/css">
body {
	font-size: 12px;
	font-family: monospace;
}

.info_block {
	display: inline-block;
	vertical-align: top;
}

.help {
	color: #333;
	margin-top: 50px;
	line-height: 20px;
	font-size: 13px;
}

.help .part{
	margin: 1em 0;
	display: inline-block;
}

a.pacAddr {
	font-weight: bold;
	color: #000;
}

#serverList {
	width: 100%;
}

button {
	padding: 0 20px;
}

div.domainLine {
	margin: 5px 0;
}

.domainLine input {
	margin: 0 5px 0 0;
}

.domainLine [name="port"] {
	width: 40px;
}

#connectList .client{
	width: 100%;
	word-break: break-all;
}
#connectList .client div{
	display: block;
	padding: 0 1em;
}
#connectList .clientAddr{
	background: #e0e0e0;
	color: #fff;
	margin-top: 1em;
}
#connectList .connect{
	background: #f8f8f8;
}
</style>
</head>
<body>
	<div style="width: 80%; max-width: 1024px; min-width: 240px;margin: 0 auto;">
		<div>
			<h1>DDDProxy 安全代理服务</h1>
			<p>
				<a href="/admin">哪些地址需要翻墙？[管理网址]</a>
			</p>

		</div>
		<div class="help">
			<div id="serverList"></div>
			<button id="saveServerButton">保存</button>
		</div>
		<div class="help">
			<div class="part">
				自动代理地址：<span class="pacAddr"></span>
			</div>
			<div>
				> mac设置方法<br />在“系统偏好设置”时找到“网络”，在左侧选中当前使用的网络，然后选择“高级...”，“代理”，“自动代理配置”，URL填入“
				<span class="pacAddr"></span> ”
			</div>
			<div>
				> iPhone设置方法<br />在“设置”时找到“Wi-Fi”，点击当前连接的网络后面的<span
					style="color: #0077ff">ⓘ</span>，找到http代理，选择自动，URL填入“ <span class="pacAddr"></span> ”。 <br />
				<i>注意：在连接不同的无线网络时，都需要为当前无线重新填写。</i>
			</div>
			<div>
				> windows设置方法<br /> 打开IE，在菜单找到并打开“Internet
				选项”，切换至“连接”标签后，点击“局域网设置(L)”，在“局域网设置”中勾选“使用自动配置脚本”后，在“地址(R)”填入“
				<span class="pacAddr"></span> ”
			</div>
		</div>
		<div class="help">
			<div>
				> 其它帮助<br>在网址管理页面添加网站后：chrome请地址栏输入 <a class="pacAddr"
					href="chrome://net-internals/#proxy">chrome://net-internals/#proxy</a>
				，然后点击 re-apply setting 来刷新代理网址列表。其它浏览器或应用需要重新打开程序才能使代理网址列表生成
			</div>
			<div>
				<p>
					> 进程池：<span id="status">loading...</span>
				</p>
				<p id="connectList"></p>
			</div>
		</div>
		<div class="help" style="font-style: italic;">
			<div>
				- 作者：dx.wang<br /> - E-Mail：<a href="mailto:wdongxv@gmail.com">wdongxv@gmail.com</a><br />
				- 项目首页：<a href="https://github.com/wdongxv/DDDProxy">https://github.com/wdongxv/DDDProxy/tree/asyncIO</a>
			</div>
		</div>
	</div>
	<script src="/static/jquery.min.js"></script>
	<script src="/static/URI.js"></script>
<!-- 	<script src="{{pacAddrOrigin}}"></script> -->

	<script type="text/javascript">
		(function() {
			function statusApi(opt, callback) {
				var xhr = new XMLHttpRequest();
				xhr.open("GET", "/api_" + opt, true);
				xhr.onreadystatechange = function(e) {
					if (xhr.readyState == 4) {
						var json = {};
						try {
							if (xhr.status == 200)
								json = JSON.parse(xhr.responseText);
						} catch (e) {
						}
						callback(json);
					}
				};
				xhr.send();
			}
			function dnsDomainIs(a, b) {
				a = "." + a;
				var search = a.search(b);
				if (search >= 0) {
					return true;
				} else {

				}
			}
			function shExpMatch(a, b) {
				var search = a.search(b);
				if (search >= 0) {
					return true;
				} else {

				}
			}
			function makeDomainHtml(host, port, auth, id) {
				if (!id)
					id = ""
				var h = "";
				h += "<input value='"+host+"' name='host' placeholder='host'/>"
				h += "<input value='"+port+"' name='port' placeholder='port'/>"
				h += "<input value='"+auth+"' name='auth' placeholder='auth'/>"
				h += "<span class='status'></span>"
				return "<div class='domainLine "+id+"'>" + h + "</div>"
			}

			var saveServerButton = $("#saveServerButton");
			saveServerButton.hide();
			var serverList = $("#serverList")
			function getInputLineData(lineDom) {
				var input = $(lineDom).find("input")
				var line = {}
				var isOk = false;
				for (var j = 0; j < input.length; j++) {
					var v = input[j]
					line[v.name] = v.value
					if (v.value)
						isOk = true;
				}
				if (isOk)
					return line;
				return null;
			}
			function getInputDataList() {
				var list = []
				var domainLineList = serverList.find(".domainLine")
				for (var i = 0; i < domainLineList.length; i++) {
					var line = getInputLineData(domainLineList[i])
					if (line)
						list.push(line)
				}
				return list;
			}
			saveServerButton.click(function() {
				if (saveServerButton.hasClass("saving"))
					return;
				var list = getInputDataList()
				saveServerButton.text("保存中...")
				saveServerButton.addClass("saving")
				proxyapi("setServerList", {
					"data" : list
				}, function(data) {
					saveServerButton.removeClass("saving")
					saveServerButton.text("保存");
					if (data.status == "ok")
						saveServerButton.hide();
				});
			})
			
			var doCheckTimer = null
			function connectCheck() {
				function doCheck() {
					var domainLineList = serverList.find(".domainLine")
					for (var i = 0; i < domainLineList.length; i++) {
						(function(lineDom) {
							var line = getInputLineData(lineDom)
							if(!line)
								return
							var status = $(lineDom).find(".status")
							var linejs = JSON.stringify(line);
							if (linejs!=status.attr("linejs")) {
								status.text("testting")
								status.attr("linejs",linejs)
								proxyapi("testRemoteProxy",{"host":line.host,"port":line.port,"auth":line.auth}, function(data) {
									status.text(data["status"])
								});
							}
						})(domainLineList[i]);
					}
				}
				if(doCheckTimer)
					clearTimeout(doCheckTimer)
				doCheckTimer = setTimeout(doCheck, 2000);
			}

			function domainListChangedHandler() {
				var domainLineList = serverList.find(".domainLine")
				var newLine = [], errorLine = [];
				var allLineOk = true
				for (var i = 0; i < domainLineList.length; i++) {
					var line = $(domainLineList[i])
					var data = line.find("[name='host'],[name='auth']")
					var host = data[0].value, auth = data[1].value;
					if (!host && !auth)
						newLine.push(line)
					else if (!host || !auth) {
						errorLine.push(auth)
					}
				}
				for (var i = 0;; i++) {
					if (i >= newLine.length) {
						break;
					} else if (i < newLine.length - 1) {
						newLine[i].remove();
					} else {
						var d = newLine[i];
						(errorLine.length > 0) ? d.hide() : d.show()
					}
				}
				(errorLine.length > 0) ? saveServerButton.hide()
						: saveServerButton.show()
				if (!newLine.length && !errorLine.length) {
					serverList.append(makeDomainHtml("", "", ""))
					bindInputKey();
				}
				connectCheck();
			}
			function bindInputKey() {
				var inputList = serverList.find("[name='host'],[name='auth'],[name='port']");
				inputList.keyup(domainListChangedHandler)
			}
			function getServerList() {
				proxyapi("serverList", null, function(data) {

					$(".pacAddr").text(data["pac"])
					var domainList = data["list"];
					var html = "";
					if(domainList){
						for (var i = 0; i < domainList.length; i++) {
							var domain = domainList[i]
							html += makeDomainHtml(domain.host, domain.port,
									domain.auth);
						}
					}
					html += makeDomainHtml("", "", "");
					serverList.html(html)
					bindInputKey();
					connectCheck()
				})
			}
			$(document).ready(
					function() {
						var status = $("#status");
						setInterval(function() {
							statusApi("status", function(data) {
								var count = data.count;
								status.text("thread(" + count.worker + "/"
										+ (count.worker + count.idle) + ")");
								var connectList = data.thread.connect
								var html = "";
								for(var i in connectList){
									html += "<div class='client'>";
									html += "<div class='clientAddr'>"+i+"</div>"
									
									var remoteConnectList = connectList[i];
									for (var j = 0; j < remoteConnectList.length; j++) {
										var connect = remoteConnectList[j]
										html += "<div class='connect' title='"+connect[1]+"'>↾"+IntToDataCount(connect[2])+"&emsp;⇃"+IntToDataCount(connect[3])+"&emsp;"+connect[0]+"</div>"
									}
									html += "</div>"
								}
								$("#connectList").html(html);
							})
						}, 20000)
						getServerList();
					});
		})();
		
		
	</script>
</body>
</html>
