<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>DDDProxy</title>
<link rel="stylesheet" href="/static/style.css" type="text/css"
	media="all">
<script src="/static/jquery.min.js"></script>
<script src="/static/highcharts.js"></script>
<script src="/static/URI.js"></script>
<script src="/pac"></script>
<script src="/static/main.js"></script>
<script src="/static/admin.js"></script>
<script src="/static/backup.js"></script>
</head>
<body>
	<div id="mainContent">
		<div>
			<h1>DDDProxy 安全代理服务</h1>
		</div>
		<div class="part">
			<h3>代理协议支持:</h3>
			<p>
				自动代理配置(pac)：<a class="pacAddr"></a><a class='helplink'
					href="#setttingHelp">如何使用?</a><br>
				HTTP/SOCKS4/SOCKS4a/SOCKS5代理协议 服务器地址：<span id="proxyServer"></span>
				端口：<span id="proxyPort"></span>
			</p>
		</div>

		<div class="part" style="">
			<h3 id="domainAnalysisTitle"></h3>
			<a elementId="domainAnalysis" class="toggleButton" href="javascript:"></a>
			<div id="domainAnalysis"></div>
			<div id="dataAnalysis" style="height: 200px;"></div>
		</div>
		<div class="part">
			<h3>远程服务地址设置</h3>
			<div id="serverList"></div>
			<button id="saveServerButton">保存</button>
		</div>

		<div class="part">
			<h3>
				代理地址列表(<span id="proxyDomainListCount">0</span>)
			</h3>
			<a elementId="proxyDomainList" class="toggleButton"
				href="javascript:"></a> <input id="newUrl" style="width: 320px;"
				name="url"
				placeholder="https://www.apple.com/  || iosapps.itunes.apple.com" />
			<input id="newUrlSubmit" value="添加" type="submit" /><a
				class='helplink' href="#help1">?</a> <span id="newUrlInfo"></span>
		</div>
		<div id="proxyDomainList" style="text-align: center;"></div>
		<div id="backupBox"
			style="display: none; line-height: 20px; padding-left: 20px">
			Google Drive 备份: <a id="replaceRestore" href="javascript:">清空后恢复</a><a
				class='helplink' href="#help5">?</a> <a id="restore"
				href="javascript:">与备份合并</a><a class='helplink' href="#help4">?</a>
			<a id="backup" href="javascript:">重新备份</a><a class='helplink'
				href="#help3">?</a> <a id="sync" href="javascript:">同步</a> <a
				class='helplink' href="#help2">[无法登陆Google?]</a> <br /> <span
				id="backupStatus"> </span>
		</div>
		<div class="part">
			<h3>
				当前连接池<span id="status">loading...</span>
			</h3>
			<a class="toggleButton" elementId="connectList" href="javascript:"></a>
			<div id="connectList"></div>
		</div>
		<div class="part">
			<h3>设置方法</h3>
			<a class="toggleButton" elementId="setttingHelp" href="javascript:"></a>
			<div id="setttingHelp">
				<div>
					> mac设置方法<br />在“系统偏好设置”时找到“网络”，在左侧选中当前使用的网络，然后选择“高级...”，“代理”，“自动代理配置”，URL填入“
					<span class="pacAddr"></span> ”
				</div>
				<div>
					> iPhone设置方法<br />在“设置”时找到“Wi-Fi”，点击当前连接的网络后面的<span
						style="color: #0077ff">ⓘ</span>，找到http代理，选择自动，URL填入“ <span
						class="pacAddr"></span> ”。 <br /> <i>注意：在连接不同的无线网络时，都需要为当前无线重新填写。</i>
				</div>
				<div>
					> windows设置方法<br /> 打开IE，在菜单找到并打开“Internet
					选项”，切换至“连接”标签后，点击“局域网设置(L)”，在“局域网设置”中勾选“使用自动配置脚本”后，在“地址(R)”填入“ <span
						class="pacAddr"></span> ”
				</div>
			</div>
			<br />
			<h3>其他帮助</h3>
			<a class="toggleButton" elementId="otherHelp" href="javascript:"></a>
			<div id="otherHelp">
				<div class="part" id="help1">
					1. 在网址管理页面添加网站后：chrome请地址栏输入 <a
						href="chrome://net-internals/#proxy" style="color: #888;">chrome://net-internals/#proxy</a>
					，然后点击 re-apply setting 来刷新代理网址列表。其它浏览器或应用需要重新打开程序才能使代理网址列表生成
				</div>
				<div class="part" id="help2">
					2. 使用备份需要链接到Google,由于安全原因，请您阅读一下说明<br /> 如果代理服务搭建在本机，那么请访问
					http://127.0.0.1:8080 或 http://localhost:8080 来备份。<br />
					如果不在本机，那么请在本机hosts文件加入<span>代理服务ip dddproxy</span>,例如：<span>192.168.1.2
						dddproxy</span>,然后访问 http://dddproxy:8080 来备份
				</div>
				<div class="part" id="help3">3. 备份至Google
					Drive时要注意，会完全覆盖掉Google Drive上已经备份的文件</div>
				<div class="part" id="help4">4. 从备份合并恢复是指，从 Google Drive
					拉取的备份合并到本地代理地址列表,但优先使用备份的开关设置</div>
				<div class="part" id="help5">5. 抹掉并恢复慎用，此功能会将本地代理地址列表清空然后在恢复备份</div>
				<div class="part" id="help6">6.
					代理地址列表中如果将某个地址断开（由蓝色变成灰色，也就是点击⌧后），那么这个地址就会加入到白名单；例：apple.com为蓝色，iosapps.itunes.apple.com为灰色，这个既可以安全快速的访问apple绝大多数服务，又在App
					Store下载应用时不占用带宽</div>
			</div>
		</div>
		<div>
			<div class="part">
				- 版本：<span id="version"> - </span><br /> - 作者：dx.wang<br /> -
				E-Mail：<a href="mailto:wdongxv@gmail.com">wdongxv@gmail.com</a><br />
				- 项目首页：<a href="https://github.com/wdongxv/DDDProxy">https://github.com/wdongxv/DDDProxy</a>
			</div>
		</div>
	</div>
	<script type="text/javascript">
		(function() {

			function dnsDomainIs(a, b) {
				a = "." + a;
				var search = a.search(b);
				if (search >= 0) {
					return true;
				} else {

				}
			}
			function shExpMatch(a, b) {
				var search = a.search(b);
				if (search >= 0) {
					return true;
				} else {

				}
			}
			function makeDomainHtml(host, port, auth, id) {
				if (!id)
					id = ""
				var h = "";
				h += "<input value='"+host+"' name='host' placeholder='host'/>"
				h += "<input value='"+port+"' name='port' placeholder='port'/>"
				h += "<input value='"+auth+"' name='auth' placeholder='auth'/>"
				h += "<span class='status'></span>"
				return "<div class='domainLine "+id+"'>" + h + "</div>"
			}

			var saveServerButton = $("#saveServerButton");
			saveServerButton.hide();
			var serverList = $("#serverList")
			function getInputLineData(lineDom) {
				var input = $(lineDom).find("input")
				var line = {}
				var isOk = false;
				for (var j = 0; j < input.length; j++) {
					var v = input[j]
					line[v.name] = v.value
					if (v.value)
						isOk = true;
				}
				if (isOk)
					return line;
				return null;
			}
			function getInputDataList() {
				var list = []
				var domainLineList = serverList.find(".domainLine")
				for (var i = 0; i < domainLineList.length; i++) {
					var line = getInputLineData(domainLineList[i])
					if (line)
						list.push(line)
				}
				return list;
			}
			saveServerButton.click(function() {
				if (saveServerButton.hasClass("saving"))
					return;
				var list = getInputDataList()
				saveServerButton.text("保存中...")
				saveServerButton.addClass("saving")
				proxyapi("setServerList", {
					"data" : list
				}, function(data) {
					saveServerButton.removeClass("saving")
					saveServerButton.text("保存");
					if (data.status == "ok") {
						saveServerButton.hide();
						connectCheck();
					}
				});
			})

			var doCheckTimer = null
			function connectCheck() {
				function doCheck() {
					var domainLineList = serverList.find(".domainLine")
					for (var i = 0; i < domainLineList.length; i++) {
						(function(lineDom) {
							var line = getInputLineData(lineDom);
							if (!line) {
								return;
							}
							var status = $(lineDom).find(".status")
							var linejs = JSON.stringify(line);
							if (linejs != status.attr("linejs")) {
								status.text("testting")
								status.attr("linejs", linejs)
								getRemoteStatus(
										line.host,
										line.port,
										function(data) {
											status
													.html(data ? "<a href='/remote.html#"+line.host+":"+line.port+"'>connected</a>"
															: "")
										})
							}
						})(domainLineList[i]);
					}
				}
				if (doCheckTimer)
					clearTimeout(doCheckTimer)
				doCheckTimer = setTimeout(doCheck, 2000);
			}

			function domainListChangedHandler() {
				var domainLineList = serverList.find(".domainLine")
				var newLine = [], errorLine = [];
				var allLineOk = true
				for (var i = 0; i < domainLineList.length; i++) {
					var line = $(domainLineList[i])
					var data = line.find("[name='host'],[name='auth']")
					var host = data[0].value, auth = data[1].value;
					if (!host && !auth)
						newLine.push(line)
					else if (!host || !auth) {
						errorLine.push(auth)
					}
				}
				for (var i = 0;; i++) {
					if (i >= newLine.length) {
						break;
					} else if (i < newLine.length - 1) {
						newLine[i].remove();
					} else {
						var d = newLine[i];
						(errorLine.length > 0) ? d.hide() : d.show()
					}
				}
				(errorLine.length > 0) ? saveServerButton.hide() : saveServerButton.show()
				if (!newLine.length && !errorLine.length) {
					serverList.append(makeDomainHtml("", "", ""))
					bindInputKey();
				}
			}
			function bindInputKey() {
				var inputList = serverList.find("[name='host'],[name='auth'],[name='port']");
				inputList.keyup(domainListChangedHandler)
			}
			function getServerList(cb) {
				proxyapi("serverList", null, function(data) {
					$(".pacAddr").text(data["pac"])
					$("a.pacAddr").attr("href", data["pac"])
					$("#proxyServer").text(data["proxyAddr"][0]);
					$("#proxyPort").text(data["proxyAddr"][1]);
					$("#version").text(data["version"])
					var domainList = data["list"];
					var html = "";
					if (domainList) {
						for (var i = 0; i < domainList.length; i++) {
							var domain = domainList[i]
							html += makeDomainHtml(domain.host, domain.port, domain.auth);
						}
					}
					html += makeDomainHtml("", "", "");
					serverList.html(html)
					bindInputKey();
					connectCheck()
					if (cb)
						cb();
				})
			}
			$(document).ready(function() {
				var status = $("#status");
				var getStatus = function() {
					proxyapi("status", null, function(data) {
						var parser = dumpdataParse(data)
						status.text("count(" + parser[1] + ")");
						$("#connectList").html(parser[0]);
					})
				}
				setInterval(getStatus, 2000)
				getStatus();
				getServerList(function(){
					helplinkList.each(function() {
						var self = $(this);
						var help = $(self.attr("href"))
						var text = help.text()
						self.attr("title", text.replace(/\t\s+/g, ""))
					})
				});

				setTimeout(function() {
					var s = document.createElement("script")
					s.src = "https://apis.google.com/js/client.js?onload=onGoogleClientLoadCallback";
					document.body.appendChild(s)
				}, 2000)
			});

			var helplinkList = $(".helplink");
			helplinkList.click(function() {
				$("#setttingHelp,#otherHelp").show()

				var help = $($(this).attr("href"))
				var index = 0
				var timer = setInterval(function() {
					help.css("outline", index % 3 > 0 ? "#f00 solid" : "none");
					index++
					if (index > 9) {
						clearInterval(timer)
					}
				}, 200)
			})

			var toggleButton = $(".toggleButton")
			var toggleButtonClick = function() {
				var button = $(this)
				var hide = button.attr("hide") == "true";
				hide = !hide;
				button.attr("hide", hide ? "true" : "");
				button.text(hide ? "显示" : "隐藏");
				$("#" + button.attr("elementId")).css("display", hide ? "none" : "");
			}
			toggleButton.click(toggleButtonClick)
			toggleButton.each(toggleButtonClick)

		})();
	</script>
</body>
</html>
